# node

node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# build

_tests_
.github
.vscode
.yarn
.eggignore
.eslintignore
.eslintrc.js
.npmignore
.prettierrc.js
babel.config.js
CONTRIBUTING.md
egg.json
index.tsx
jest.config.js
tsconfig.json

# jest
.jest

coverage/

.DS_Store